/*  ========== varibles ========== */
$primary-color: #D90429;
$dark-color: #2B2D42;
$light-color: #EDF2F4;
$primary-lighten: #EF233C;
$dark-lighten: #8D99AE;


/*  ========== mixins ========== */
// media queries
@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 991px) and (min-width: 768px) {
    @content;
  }
}

@mixin phone {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
// transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
// cross browser opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
// Animations and keyframes
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
      -o-transform: $transforms;
     -ms-transform: $transforms;
 -webkit-transform: $transforms;
   transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}
/*  ========== global styles ========== */
@font-face {
  font-family: 'droid sans';
  font-style: normal;
  font-weight: normal;
  src: local("Droid sans"), url("../fonts/DroidSans.ttf") format("truetype"); 
}
/* ==================== header Section ======================= */